.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}

.bg-strawberry{
  background-color: #EC4B53 !important;
  background: #EC4B53;
}

.bg-blueberry{
  background-color: #846C96 !important;
  background: #846C96;
}

.bg-pineapple{
  background-color: #FEEA63 !important;
  background: #FEEA63;
}

.bg-taro{
  background-color: #8661A5 !important;
  background: #8661A5;
}

.bg-chocolate{
  background-color: #9B5639 !important;
  background: #9B5639;
}

.bg-tiramisu{
  background-color: #C4A088 !important;
  background: #C4A088;
}

.bg-cheese{
  background-color: #FAD487 !important;
  background: #FAD487;
}

.bg-chococrunchy{
  background-color: #644638 !important;
  background: #644638;
}

.bg-greentea{
  background-color: #86A96F;
  background: #86A96F;
}

.bg-chococheese{
  background-color: #E8D6B4 !important;
  background: #E8D6B4;
}

.bg-choconut{
  background-color: #5C3E35 !important;
  background: #5C3E35;
}

.bg-plain{
  background-color: #EEDEC5 !important;
  background: #EEDEC5;
}

.bg-plain2{
  background-color: #E3D8CA !important;
  background: #E3D8CA;
}

.bg-salt{
  background-color: #DADADA !important;
  background: #DADADA;
}

.bg-chili{
  background-color: #C21906 !important;
  background: #C21906;
}

.bg-abon{
  background-color: #91321c !important;
  background: #91321c;
}

.bg-oreo{
  background-color: black !important;
  background: black;
}

.bg-redvelvet{
  background-color: #EC4B53 !important;
  background: #EC4B53;
}

.no-capitalize {
  text-transform:none !important;
}

.btn-text{
  font-size: 15px !important;
  font-weight: 600 !important;
}